.x-button.x-button-action.launch-button{
    width: 90%;
    margin:5%;
}

/*
//Color coding the List
.high{
    background-color: #f00;
}
.medium{
    background-color: #00f;
}
.low{
    background-color: #0f0;
}
*/

/*
.high {
    font-family: Comic Sans Ms;
    //background-image: -webkit-linear-gradient(top, #FF0000,#FFFF01 70%,#FF0000);
    padding: 5%;
    border-top-left-radius: 10%;
    color: #000;
}

.medium {
    font-family: Comic Sans Ms;
    //background-image: -webkit-linear-gradient(top, #00FF53,#00FE8E 70%,#005D13);
    padding: 5%;
    border-top-left-radius: 10%;
    color: #000;
}


.low {
    font-family: Comic Sans Ms;
    //background-image: -webkit-linear-gradient(top, #FFF00C,#FFF0BD 70%,#FFF00E);
    padding: 5%;
    border-top-left-radius: 10%;
    color: #000;
}

*/


.high-priority{
         font-family: Comic Sans MS;
         font-style: italic;
         border-radius: 5%;
         text-align: center;
         font-size: 12px;
         padding: 2%;
         background-color: #D85252;
         color: #fff;
         border-radius: 5px;
}


.medium-priority{
          font-family: Comic Sans MS;
          font-style: italic;
          border-radius: 5%;
          text-align: center;
          background-color: #2988D6;
          font-size: 12px;
          padding: 2%;
          color: #fff;
          border-radius: 5px;
}

.low-priority{
           font-family: Comic Sans MS;
           font-style: italic;
           border-radius: 5%;
           background-color: #438E45;
           text-align: center;
           font-size: 12px;
           padding: 2%;
           color: #fff;
           border-radius: 5px;
}


.event-category{
    font-family: Comic Sans Ms;
    font-weight: bolder;
    font-size: 30px;
}
.event-people{
    font-weight: bold;
}
.event-message{
    font-size: 20px;
    padding: 2%;
    border: 1px solid #eee;
    border-radius: 5px;
}
.event-priority{
    font-style: italic;
    font-family: Comic Sans Ms;
}


.category {
    font-weight: bolder;
    font-size: 30px;
    font-family: Comic Sans MS;
    text-align: center;
}

.eventTime, .alertTime {
    padding: 2%;
    text-align: center;
    font-weight: bold;
}


.message{
    font-family: Comic Sans Ms;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5%;
}

.priority{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.activity, .recurrence, .people{
    font-weight: bold;
    text-align: center;
}



.x-list.event-list.x-list-item-tpl.x-list-disclosure{
top: 35%;
border-radius: 0px;
width: 25%;
}
.x-list.past-event-list .x-list-disclosure:before{
content: 'Reschedule';
font-family: 'Comic Sans MS';
font-size: 15px;
}
.x-list.event-list .x-list-disclosure:before{
content: 'Edit';
font-family: 'Comic Sans MS';
font-size: 15px;
}
.x-list.event-list .x-list-item-tpl .x-list-disclosure{
    width: 25%;
    right: 3%;
    top: 3%;
    border-radius: 10%;
}
.x-list.past-event-list .x-list-item-tpl .x-list-disclosure{
    width: 25%;
    right: 3%;
    top: 3%;
    border-radius: 10%;
}
.x-list.people-list .x-list-disclosure:before{
content: '*';
}

.x-button.x-button-action.launch-button{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.message-label{
    font-size: 15px;
    font-family: Comic Sans MS;
    font-weight: bolder;
}

.pictos-icon{
font-family: 'Pictos';
font-size: 25px;
}

.activity-icons{
padding: 10px;
text-align: center;
}
